@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column_reverse {
    display: flex;
    flex-direction: column-reverse;
}

.space_between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.space_evenly {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.justify_center {
    justify-content: center;
}

.justify_flex_start {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.justify_flex_end {
    justify-content: flex-end;
    flex-wrap: wrap;
}

.center {
    align-items: center;
}

.align_flex_start {
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

.flex_row {
    display: flex;
}

.flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

li {
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    color: #FFF;
}

button {
    border: none;
    padding: 0.6rem 1rem;
    background: #00A962;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.width_full {
    width: 100%;
}

.height_full {
    height: 100%;
}

.mt4 {
    margin: 4rem 0 0 0;
}

.container {
    min-height: 100vh;
    font-family: 'Nunito', 'sans-serif';
    /* display: none; */
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background: #ececec;
}

.loader img {
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.hamburger {
    display: none;
}

.mobile_menu {
    display: none;
}

.container > .content_wrapper > .right_section {
    position: absolute;
    padding: 2rem;
    width: 80%;
    top: 5rem;
    left: 20%;
}

.container .content_wrapper .right_section .header {
    height: 4rem;
}

.container .content_wrapper .right_section .header .left_side {
    width: 20%;
}

.container .content_wrapper .right_section .header .left_side p {
    font-size: 1.3rem;
    color: #464646;
}

.container .content_wrapper .right_section .header .left_side p.active {
    font-weight: 700;
    text-decoration: underline;
}

.container .content_wrapper .right_section .header .right_side {
    width: 30%;
}

.container .content_wrapper .right_section .header .right_side input {
    width: 100%;
    background: #00A962;
    color: #DFE0E0;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.102);
    border-radius: 0.6rem;
    padding: 0.3rem;
    padding-left: 1rem;
    height: 2.2rem;
}

.container .content_wrapper .right_section .header .right_side input::placeholder {
    color: #DFE0E0;
}

.container .content_wrapper .right_section .cards_container .card {
    width: 26%;
    box-shadow: 0px 5px 6px #00A962;
    border-radius: 0.6rem;
    border: 2px solid #00A962;
    padding: 0 1rem;
    background: #FFF;
    margin: 0 2rem 2rem 0;
}

.container .content_wrapper .right_section .card .header,
.container .content_wrapper .right_section .card .contact,
.container .content_wrapper .right_section .card .information {
    padding: 1rem 0;
    border-bottom: 2px solid #DEDEDE;
    height: fit-content;
}

.container .content_wrapper .right_section .card .header .image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #D9D9D9;
}

.container .content_wrapper .right_section .card .header .text {
    height: 3.5rem;
    font-size: 0.9rem;
}

.container .content_wrapper .right_section .card .header .text p:nth-child(1) {
    font-weight: 700;
    font-size: 1.3rem;
}

.container .content_wrapper .right_section .card .header .bottom {
    margin: 1rem 0 0 0;
    font-weight: 600;
}

.container .content_wrapper .right_section .card .header .bottom #appointment_time {
    color: #00A962;
}

.container .content_wrapper .right_section .card .contact div:not(:last-child) {
    margin: 0 0 1rem 0;
}

.container .content_wrapper .right_section .card .contact img {
    margin: 0 1rem 0 0;
}

.container .content_wrapper .right_section .card .information p:nth-child(1) {
    margin: 0 0 1rem 0;
}

.container .content_wrapper .right_section .card .information span {
    color: #00A962;
    font-weight: 600;
}

.container .content_wrapper .right_section .card .buttons {
    padding: 1rem 0;
    width: 95%;
    align-self: center;
}

.container .content_wrapper .right_section .card .buttons button {
    height: 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #FFF;
    width: 46%;
    box-shadow: 0px 5px 6px rgba(13, 27, 103, 0.5);
}

.container .content_wrapper .right_section .card .buttons button:nth-child(2) {
    background: #FFF;
    border: 1px solid #F54A4A;
    color: #F54A4A;
    filter: drop-shadow(0px 5px 6px rgba(13, 27, 103, 0.5));
    box-shadow: none;
}

.container .content_wrapper .popup .form .form_right_section .input p {
    width: 15% !important;
}

.container .content_wrapper .popup .form .form_right_section .input input {
    width: 85% !important;
}

.container .content_wrapper .popup .form .form_right_section .half_input .input p {
    width: 35% !important;
}

.container .content_wrapper .popup .form .form_right_section .half_input .input input {
    width: 65% !important;
}

.container .content_wrapper .popup .form .form_right_section .full_input:last-child .input input {
    width: 40% !important;
}

.container .file {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 45%;
    width: 2rem;
    height: 2rem;
}

.container .file img {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
}

.container .file input {
    opacity: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    html {
        font-size: 14px;
    }
    
    .container .content_wrapper .stat:nth-child(4) .wrapper {
        height: 80%;
    }

    .container .content_wrapper .chart_section .area_chart .date_picker {
        width: 30%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .right_section .cards_container .card {
        width: 20rem;
    }

    .container .content_wrapper .popup .form .form_right_section .half_input .input p {
        width: 15% !important;
    }
    
    .container .content_wrapper .popup .form .form_right_section .half_input .input input {
        width: 85% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .sidebar {
        width: 30% !important;
    }

    .container .content_wrapper > .right_section {
        left: 30%;
        width: 70%;
    }

    .container .content_wrapper .right_section .cards_container .card {
        width: 18rem;
    }

    .container .content_wrapper .right_section .header .left_side {
        width: 40% !important;
    }

    .container .content_wrapper .popup .form .form_right_section .half_input .input p {
        width: 15% !important;
    }
    
    .container .content_wrapper .popup .form .form_right_section .half_input .input input {
        width: 85% !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .sidebar {
        width: 30% !important;
    }

    .container .content_wrapper > .right_section {
        left: 30%;
        width: 70%;
    }

    .container .content_wrapper .right_section .cards_container .card {
        width: 20rem;
    }

    .container .content_wrapper .right_section .header .left_side {
        width: 50% !important;
    }

    .container .content_wrapper .popup .form .form_right_section .half_input .input p {
        width: 15% !important;
    }
    
    .container .content_wrapper .popup .form .form_right_section .half_input .input input {
        width: 85% !important;
    }
}