.container nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(25, 33, 79, 0.1);
    height: 5rem;
    padding-right: 3rem;
    width: 100%;
    z-index: 20;
}

.container nav > img {
    height: 90%;
    margin: 0 0 0 -1rem;
}

.container nav .right_section {
    width: 12%;
}

.container nav .right_section .profile_img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: #D9D9D9;
}

.container nav .right_section .username {
    font-size: 1.2rem;
    font-weight: 700;
}

.container nav .menu {
    position: absolute;
    top: 5rem;
    right: 0;
    border-radius: 0.6rem;
    width: 20%;
    z-index: 100;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scaleY(0);
    transition: all 0.5s ease;
    transform-origin: top;
}

.container nav .menu .item {
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.container nav .menu .item:hover {
    background: #19214F;
    color: #FFF;
}

.container nav .menu .item img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.container nav .menu .item p {
    font-size: 1.2rem;
    font-weight: 600;
}

.container > .content_wrapper .sidebar {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 20%;
    background: linear-gradient(137.84deg, #19214F 6.73%, #00A962 135.93%);;
    height: 90vh;
    overflow: scroll;
}

.container > .content_wrapper .sidebar::-webkit-scrollbar {
    display: none;
}

.container > .content_wrapper .sidebar ul li {
    height: 5rem;
    border-bottom: 2px solid white;
}

.container > .content_wrapper .sidebar ul li a {
    margin: 0 0 0 1rem;
    font-size: 1.3rem;
}

.container > .content_wrapper .sidebar ul li img {
    margin: 0 1.5rem 0 0;
    width: 2rem;
    height: 2rem;
}

.container > .content_wrapper .sidebar ul li.active {
    position: relative;
    background: #FFF;
}

.container > .content_wrapper .sidebar ul li.active a {
    color: #19214F;
    font-weight: 700;
}

.container > .content_wrapper .sidebar ul li.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0.4rem;
    height: 95%;
    background: #19214F;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.container > .content_wrapper .sidebar .bottom_buttons {
    padding: 1rem;
}

.container > .content_wrapper .sidebar .bottom_buttons .image {
    position: relative;
    cursor: pointer;
}

.container > .content_wrapper .sidebar .bottom_buttons .image span {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.6rem;
    height: 0.6rem;
    background: #FFF;
    border-radius: 50%;
}

.container .content_wrapper .notifications_wrapper {
    position: absolute;
    padding: 1rem;
    left: 0;
    background: #FFF;
    width: 25%;
    z-index: 30;
    display: none;
    box-shadow: 0px 4px 4px rgba(25, 33, 79, 0.1);
    border: 2px solid #00A962;
    border-radius: 0.6rem;
}

.container .content_wrapper .notifications_wrapper .notification_header p {
    cursor: pointer;
}

.container .content_wrapper .notifications_wrapper .notification_header p:nth-child(2) {
    color: #F54A4A;
}

.container .content_wrapper .notifications_wrapper .notification_header p {
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
}

.container .content_wrapper .notifications_wrapper p.when {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 1.5rem 0;
}

.container .content_wrapper .notifications .notification {
    padding: 0.5rem 0;
    width: 100%;
}

.container .content_wrapper .notifications .notification .image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #D9D9D9;
    margin: 0 1rem 0 0;
}

.container .content_wrapper .notifications .notification .text {
    height: 4rem;
    font-size: 0.9rem;
}

.container .content_wrapper .notifications .notification .text p:nth-child(2) {
    font-size: 0.8rem;
}

.container .content_wrapper .notifications .notification .right_section {
    cursor: pointer;
}

.container .content_wrapper .popup {
    position: absolute;
    width: 70%;
    top: 10rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #FFF;
    z-index: 20;
    border-radius: 0.6rem;
    display: none;
    transition: all 0.5s ease;
    transform: scale(0);
}

.container .content_wrapper .popup .header {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.6rem;
    background: #00A962;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

.container .content_wrapper .popup .header button {
    background: none;
}

.container .content_wrapper .popup .form {
    padding: 1rem;
}

.container .content_wrapper .popup .form .form_left_section {
    width: 25%;
}

.container .content_wrapper .popup .form .form_left_section .image {
    position: relative;
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 0.6rem;
    background: #DFE0E0;
    margin: 0 0 2rem 0;
}

.container .content_wrapper .popup .form .form_left_section .image input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.container .content_wrapper .popup .form .form_left_section button {
    background: #FFF;
    width: 9.5rem;
    height: 3rem;
    border: 2px solid #F54A4A;
    color: #F54A4A;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.container .content_wrapper .popup .form .form_right_section {
    width: 75%;
    padding: 0;
}

.container .content_wrapper .popup .form .form_right_section .half_input,
.container .content_wrapper .popup .form .form_right_section .full_input {
    margin: 0 0 2rem 0;
}

.container .content_wrapper .popup .form .form_right_section .half_input .input,
.container .content_wrapper .popup .form .form_right_section .full_input .input {
    font-size: 1.1rem;
    width: 45%;
}

.container .content_wrapper .popup .form .form_right_section .full_input .input {
    width: 100%;
}

.container .content_wrapper .popup .form .form_right_section input,
.container .content_wrapper .select p {
    height: 3.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #778087;
    width: 65%;
    border-radius: 0.3rem;
    font-size: 1.1rem;
}

.container .content_wrapper .popup .form .form_right_section .input p {
    width: 35%;
    word-wrap: break-word;
    margin: 0 1rem 0 0;
}

.container .content_wrapper .input .select {
    position: relative;
    width: 70%;
}

.container .content_wrapper .input .select .selected_item,
.container .content_wrapper .input .select .item {
    width: 100% !important;
}

.container .content_wrapper .input .select p.item {
    box-shadow: none;
    margin: 0;
    background: #FFF;
    width: 100%;
    transition: all 0.5s ease;
}

.container .content_wrapper .input .select p.item:hover {
    background: #00A962;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
}

.container .content_wrapper .input .select .select_menu {
    position: absolute;
    transform: scale(0);
    transform-origin: top left;
    display: none;
    width: 100%;
    transition: all 0.5s ease;
}

.container .content_wrapper .popup .form .form_right_section .buttons button {
    height: 3rem;
    width: 9.5rem;
    background: none;
}

.container .content_wrapper .popup .form .form_right_section .buttons button:nth-child(1) {
    background: linear-gradient(337deg, #19214F 0%, #14BC66 100%);
    box-shadow: 0px 5px 6px 0px rgba(13, 27, 103, 0.50);
    margin: 0 1rem 0 0;
}

.container .content_wrapper .popup .form .form_right_section .buttons button:nth-child(2) {
    border: 2px solid #F54A4A;
    color: #F54A4A;
}

.container .content_wrapper .popup .form .form_right_section input::placeholder {
    color: #778087;
}

.container .content_wrapper .popup .form .form_right_section .full_input .input input {
    width: 90%;
}

.container .content_wrapper .popup .form .form_right_section .full_input:last-child input {
    width: 50%;
}

.container .content_wrapper .popup .form .form_right_section .full_input .input p {
    width: 10%;
    word-wrap: break-word;
    margin: 0 1rem 0 0;
}

.container .content_wrapper .popup .form .form_right_section .full_input .input textarea {
    height: 8rem;
    width: 90%;
    border: none;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.6rem;
    padding: 1rem;
    font-size: 1.1rem;
    color: #778087;
}

.container .content_wrapper .popup .form .form_right_section .full_input .input textarea:focus {
    outline: none;
}

.container .content_wrapper .popup .form .form_right_section .full_input .input textarea::placeholder {
    color: #778087;
}

.container .content_wrapper .right_section > .header {
    height: 4rem;
}

.container .content_wrapper .right_section .header .left_side {
    width: 20%;
}

.container .content_wrapper .right_section .header .left_side p {
    font-size: 1.3rem;
    color: #464646;
}

.container .content_wrapper .right_section .header .left_side p.active {
    font-weight: 700;
    text-decoration: underline;
}

.container .content_wrapper .right_section .header .right_side {
    width: 30%;
}

.container .content_wrapper .right_section .header .right_side input {
    width: 100%;
    background: #00A962;
    color: #DFE0E0;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.102);
    border-radius: 0.6rem;
    padding: 0.3rem;
    padding-left: 1rem;
    height: 2.2rem;
}

.container .content_wrapper .right_section .header .right_side input::placeholder {
    color: #DFE0E0;
}

.container .content_wrapper .date_picker {
    position: relative;
    padding: 0.5rem;
    width: 20%;
    border: 2px solid #9699A0;
    border-radius: 0.6rem;
}

.container .content_wrapper .date_picker input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.container .pagination {
    width: fit-content;
    height: 2.5rem;
    background: #FFF;
    border-radius: 0.6rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.102);
    margin: 1rem auto 0 auto;
}

.container .pagination #prev:disabled,
.container .pagination #next:disabled {
    background: #D9D9D9;
    color: #000;
    pointer-events: none;
}

.container .pagination button {
    background: #DFE0E0;
    color: #000;
    margin: 0 0.5rem 0 0;
}

.container .pagination button.active {
    background: #00A962;
    color: #FFF;
    font-weight: 700;
}

.container .content_wrapper .input .contact {
    width: 100%;
}

.container .content_wrapper .input .contact input {
    width: 100%;
}

.container .content_wrapper .input .contact .country_code {
    width: 28%;
}

.container .content_wrapper .input .contact .country_code > input,
.container .content_wrapper .input .contact .number > input {
    width: 100% !important;
}

.container .content_wrapper .input .contact .number {
    width: 65%;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container nav .right_section {
        width: 18%;
    }

    .container .content_wrapper .popup .form .form_right_section .half_input .input {
        width: 100%;
        margin: 0 0 2rem 0;
    }

    .container .content_wrapper .popup .form .form_right_section input,
    .container .content_wrapper .select p {
        width: 85%;
    }

    .container .content_wrapper .popup .form .form_right_section .input p {
        width: 15%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container nav .right_section {
        width: 18%;
    }

    .container .content_wrapper .popup .form {
        flex-direction: column;
        height: fit-content;
    }

    .container .content_wrapper .popup .form .form_left_section {
        flex-direction: row;
        width: 100%;
    }

    .container .content_wrapper .popup .form .form_left_section .image, .container .content_wrapper .popup .form .form_left_section button {
        margin: 0 1rem 0 0;
    }

    .container .content_wrapper .popup .form .form_right_section .half_input .input {
        width: 100%;
        margin: 0 0 2rem 0;
    }

    .container .content_wrapper .popup .form .form_right_section input,
    .container .content_wrapper .select p {
        width: 85%;
    }

    .container .content_wrapper .popup .form .form_right_section .input p {
        width: 15%;
    }

    .container .content_wrapper .notifications_wrapper {
        width: 35%;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .container nav .right_section {
        width: 24%;
    }

    .container .content_wrapper .popup .form .form_right_section .half_input .input {
        width: 100%;
        margin: 0 0 2rem 0;
    }

    .container .content_wrapper .popup .form .form_right_section input,
    .container .content_wrapper .select p {
        width: 85%;
    }

    .container .content_wrapper .popup .form .form_right_section .input p {
        width: 15%;
    }

    .container .content_wrapper .notifications_wrapper {
        width: 48%;
    }

    .container .content_wrapper .popup .form {
        flex-direction: column;
        height: fit-content;
    }

    .container .content_wrapper .popup .form .form_left_section {
        flex-direction: row;
        width: 100%;
    }

    .container .content_wrapper .popup .form .form_left_section .image, .container .content_wrapper .popup .form .form_left_section button {
        margin: 0 1rem 0 0;
    }
}