@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column_reverse {
    display: flex;
    flex-direction: column-reverse;
}

.space_between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.space_evenly {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.justify_center {
    justify-content: center;
}

.justify_flex_start {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.justify_flex_end {
    justify-content: flex-end;
    flex-wrap: wrap;
}

.center {
    align-items: center;
}

.align_flex_start {
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

.flex_row {
    display: flex;
}

.flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

li {
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    color: #FFF;
}

button {
    border: none;
    padding: 0.6rem 1rem;
    background: #B83169;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.width_full {
    width: 100%;
}

.height_full {
    height: 100%;
}

.mt4 {
    margin: 4rem 0 0 0;
}

.container {
    min-height: 100vh;
    font-family: 'Nunito', 'sans-serif';
    /* display: none; */
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background: #ececec;
}

.loader img {
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.hamburger {
    display: none;
}

.mobile_menu {
    display: none;
}

.container > .content_wrapper > .right_section {
    position: absolute;
    width: 80%;
    top: 5rem;
    left: 20%;
    height: calc(100% - 5rem);
    padding: 1rem;
}

.container .content_wrapper .right_section .header {
    height: 4rem;
    width: 100%;
    margin: 0 0 2rem 0;
}

.container .content_wrapper .right_section .header p {
    font-size: 1.3rem;
    font-weight: 700;
    color: #19214F;
}

.container .content_wrapper .right_section .header button {
    height: 3rem;
    width: 9.3rem;
    border-radius: 0.6rem;
    background: linear-gradient(260.56deg, #19214F -2.94%, #14BC66 81.33%);
    box-shadow: 0px 5px 6px rgba(13, 27, 103, 0.5);
    font-weight: 600;
}

.container .content_wrapper .right_section .services_container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin: 0 auto; */
}

.container .content_wrapper .right_section .service {
    width: 11rem;
    height: 10rem;
    background: #FFF;
    border: 2px solid #00A962;
    box-shadow: 0px 4px 4px #00A962;
    border-radius: 0.6rem;
    text-align: center;
    /* margin: 0 2rem 2rem 0; */
}

.container .content_wrapper .right_section .service .image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container .content_wrapper .popup .half_input .image {
    width: 13rem;
    height: 13rem;
    border-radius: 0.6rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container .popup .header button {
    background: none;
    padding-right: 1.5rem;
}

.container .popup .buttons {
    margin-left: 11.5%;
}

.container .popup .buttons button {
    width: 9.5rem;
    height: 3rem;
    border-radius: 0.6rem;
}

.container .popup .buttons button:nth-child(1) {
    background: linear-gradient(337deg, #19214F 0%, #14BC66 100%);
    box-shadow: 0px 5px 6px 0px rgba(13, 27, 103, 0.50);
    margin: 0 1rem 0 0;
}

.container .popup .buttons button:nth-child(2) {
    background: #FFF;
    border: 2px solid #F54A4A;
    color: #F54A4A;
}

.container .popup .file_input {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 6rem;
}

.container .popup .file_input img {
    width: 1.5rem;
    height: 1.5rem;
}

.container .popup .file_input input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 2px solid black;
    z-index: 2;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .services_container {
        justify-content: space-between !important;
    }

    .container .content_wrapper .service {
        margin: 0 0 2rem 0;
    }

    .container .content_wrapper .form .half_input p {
        width: 100% !important;
    }

    .container .content_wrapper .form .full_input p {
        width: 20% !important;
    }

    .container .content_wrapper .form .full_input input {
        width: 80% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .sidebar {
        width: 30% !important;
    }

    .container .content_wrapper > .right_section {
        left: 30%;
        width: 70%;
    }

    .container .content_wrapper .form .half_input p {
        width: 100% !important;
    }

    .container .content_wrapper .form .full_input p {
        width: 20% !important;
    }

    .container .content_wrapper .form .full_input input {
        width: 80% !important;
    }

    .container .content_wrapper .form .half_input {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .container .content_wrapper .form .half_input .input:nth-child(1) {
        width: 14rem;
        height: 14rem;
    }

    .container .content_wrapper .form .half_input .image {
        width: 12.5rem !important;
        height: 12.5rem !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .sidebar {
        width: 30% !important;
    }

    .container .content_wrapper > .right_section {
        left: 30%;
        width: 70%;
    }

    .container .content_wrapper .form .half_input {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .container .content_wrapper .form .half_input .image {
        width: 12.5rem !important;
        height: 12.5rem !important;
    }

    .container .content_wrapper .form .half_input p {
        width: 100% !important;
    }

    .container .content_wrapper .form .full_input p {
        width: 20% !important;
    }

    .container .content_wrapper .form .full_input input {
        width: 80% !important;
    }

    .container .content_wrapper .form .half_input .input:nth-child(1) {
        width: 14rem;
        height: 14rem;
    }

    .container .content_wrapper .form .half_input .image {
        width: 12.5rem !important;
        height: 12.5rem !important;
    }
}